@inject HttpClient Client
@page "/"

<h1>hello</h1>
<MudTable Items="@sp">
    <ToolBarContent>
        <MudText Typo="Typo.h6">DS san pham</MudText>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Nr</MudTh>
        <MudTh>Sign</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>Position</MudTh>
        <MudTh>Molar mass</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Nr">@context.Tensanpham</MudTd>
        <MudTd DataLabel="Sign">@context.Gia</MudTd>
        <MudTd DataLabel="Name">@context.Giamgia</MudTd>
        <MudTd DataLabel="Position">@context.Hinh</MudTd>
        <MudTd DataLabel="Molar mass">@context.Soluong</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>