@page "/sanphamdialog/{id}"
﻿@using System.Net.Http.Json
@using MudBlazor.Extensions
@*@using Examples.Data.Models*@
@inject HttpClient httpClient
@inject NavigationManager navigation
@inject ISnackbar Snackbar

<h3>@Tieude</h3>
<EditForm Model="@sanPham" OnValidSubmit="@SubmitForm">
    <MudGrid>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField Value="@element.Masanpham" Label="Mã Sản Phẩm" Disabled="true" />
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField Value="@element.Maquantri" Label="Mã Quản Trị" Disabled="true" />
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudSelect T="string" Label="Mã Loại" Variant="Variant.Text" OffsetY="true" Margin="@(_margin==true?Margin.Dense:Margin.None)" Dense="@_dense">
                <MudSelectItem Value="@("1")" />
                <MudSelectItem Value="@("2")" />
                <MudSelectItem Value="@("3")" />
            </MudSelect>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField @bind-Value="@element.Tensanpham" Label="Tên Sản Phẩm" />
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField @bind-Value="@element.Soluong" Label="Số Lượng" Variant="Variant.Text" Min="0" Max="10" />
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField @bind-Value="@element.Ngaynhap" Format="yyyy/MM/dd" Label="Last Update" />
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField @bind-Value="@element.Gia" Label="Giá" Variant="Variant.Text" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney" />
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField @bind-Value="@element.Giamgia" Label="Giảm Giá" Variant="Variant.Text" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney" />
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField @bind-Value="@element.Mota" Label="Mô Tả" Variant="Variant.Text" Min="0" Max="10" />
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudSwitch @bind-Checked="@element.Dacbiet" Color="Color.Secondary">Đặc Biệt</MudSwitch>
            <MudSwitch @bind-Checked="@element.Trangthai" Color="Color.Secondary">Trạng Thái</MudSwitch>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <InputFile id="fileInput" OnChange="UploadFiles" hidden multiple />
            <MudFab HtmlTag="label" Color="Color.Secondary" Icon="@Icons.Filled.Image" Label="Load picture" for="fileInput" />
            @if (files != null)
            {
                <MudText Typo="@Typo.h6">@files.Count() File@(files.Count() == 1 ? "" : "s"):</MudText>
                <MudList>
                    @foreach (var file in files)
                    {
                        @if (element.Hinh != null)
                        {
                            <img src="images/sanpham/@file.Name" style="width:30%" />
                        }
                        <MudListItem Icon="@Icons.Filled.AttachFile" @key="@file">
                            @file.Name <code>@file.Size bytes</code>
                        </MudListItem>
                    }
                </MudList>
            }
        </MudItem>
    </MudGrid>
    <div class="mt-3 ml-0 d-flex">
        <div class="d-flex ml-auto align-center">
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Class="m-2" Link="/SanPhamList">Save</MudButton>
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Cancel" Color="Color.Primary" Class="m-2" Link="/SanPhamList">Hủy</MudButton>
            <MudButton Variant="Variant.Filled" OnClick="Reset">Reset Model</MudButton>
        </div>
    </div>
</EditForm>


@code {
    public int IntValue { get; set; }
    bool _margin = true;
    bool _dense = true;
    private IEnumerable<SanPham> Elements = new List<SanPham>();

    SanPham element = new SanPham
    {
        Masanpham = 1,
        Maquantri = 1,
        Tensanpham = "Áo Len",
        Maloai = 1,
        Soluong = 10,
        Gia = 5,
        Hinh = "images/sanpham/aolen.jpl",
        Ngaynhap = DateTime.Today,
        Giamgia = 0,
        Mota = "",
        Trangthai = true,
        Dacbiet = true,
    };

    private void Reset()
    {
        element = new SanPham
        {
            Masanpham = 1,
            Maquantri = 1,
            Tensanpham = "Áo Len",
            Maloai = 1,
            Soluong = 10,
            Gia = 5,
            Hinh = "images/sanpham/aolen.jpl",
            Ngaynhap = DateTime.Today,
            Giamgia = 0,
            Mota = "",
            Trangthai = true,
            Dacbiet = true,
        };
        StateHasChanged();
    }
    IList<IBrowserFile> files = new List<IBrowserFile>();
    private void UploadFiles(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles())
        {
            files.Add(file);
        }
        //TODO upload the files to the server
    }
}
