@page "/sanphamdialog/{id}"
﻿@using System.Net.Http.Json
@using MudBlazor.Extensions
@using Microsoft.AspNetCore.Hosting;
@using Microsoft.Extensions.Hosting;
@*@inject IWebHostEnvironment Env*@
@*@using Examples.Data.Models*@
@inject HttpClient httpClient
@inject NavigationManager navigation
@inject ISnackbar Snackbar
@inject R4Clothes.Server.Helpers.IUploadImage _uploadImage

<h3>@Tieude</h3>
<EditForm Model="@sanPham" OnValidSubmit="@SubmitForm">
    <MudGrid>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField Value="@sanPham.Masanpham" Label="Mã Sản Phẩm" Disabled="true" />
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField Value="@sanPham.Maquantri" Label="Mã Quản Trị" Disabled="true" />
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudSelect Label="Mã Loại" Variant="Variant.Text" @bind-Value="@sanPham.Maloai" OffsetY="true">
                @foreach (var loaisanpham in LoaiSanPhams)
                {
                    <MudSelectItem Value="@loaisanpham.Maloai">@loaisanpham.Tenloai</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField @bind-Value="@sanPham.Tensanpham" Label="Tên Sản Phẩm" />
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField @bind-Value="@sanPham.Soluong" Label="Số Lượng" Variant="Variant.Text" Min="0" Max="10" />
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudDatePicker Label="Ngày nhập" Editable="true" @bind-Date="@sanPham.Ngaynhap" Placeholder="Select Date" />
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField @bind-Value="@sanPham.Gia" Label="Giá" Variant="Variant.Text" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney" />
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField @bind-Value="@sanPham.Giamgia" Label="Giảm Giá" Variant="Variant.Text" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney" />
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField @bind-Value="@sanPham.Mota" Label="Mô Tả" Variant="Variant.Text" Min="0" Max="10" />
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudSwitch @bind-Checked="@sanPham.Dacbiet" Color="Color.Secondary">Đặc Biệt</MudSwitch>
            <MudSwitch @bind-Checked="@sanPham.Trangthai" Color="Color.Secondary">Trạng Thái</MudSwitch>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <InputFile id="fileInput" OnChange="UploadFiles" hidden />
            <MudButton HtmlTag="label"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       StartIcon="@Icons.Filled.CloudUpload"
                       for="fileInput">
                Upload Files               
            </MudButton>
            <p>@url</p>
        </MudItem>
    </MudGrid>
    <div class="mt-3 ml-0 d-flex">
        <div class="d-flex ml-auto align-center">
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Class="m-2" ButtonType="ButtonType.Submit">Save</MudButton>
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Cancel" Color="Color.Primary" Class="m-2" Link="/SanPhamList">Hủy</MudButton>
        </div>
    </div>
</EditForm>


@code {




}
